{% extends "pizza/base.html" %}
{% block content %}
{% load static %}

<h1 class="text-center">Products</h1>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        {% for product in products %}
        <tbody>
            <tr>
                <td><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{product}}">
                        <h4>{{ product }}</h4>
                    </button>
                    <div id="{{product}}" class="collapse">
                        {{product.description}}
                    </div>
                </td>
                <td>{{product.price}} $</td>
                <td>
                    <form class='form' method='POST' action='{% url "cart_add" %}'>
                        {% csrf_token %}
                        <input type='hidden' name='product_id' value='{{ product.id }}' />
                        <input type="number" name="quantity" required min="0" step="1" />
                        <span class='submit-span'>
                            <button type='submit' class='btn btn-success'>Add to cart</button>
                        </span>
                    </form>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}