{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Lekcije</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pizza/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pizza/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Navigation bar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark text-dark">
        <div class="navbar-nav ">
            <ul class="list-group list-group-horizontal">
                <a class="nav-item nav-link" href="{% url 'products'%}">
                    Products
                </a>
                <a class="nav-item nav-link" href="{% url 'cart_home'%}"> <i class='fas'>&#xf07a;</i>
                    {{request.session.cart_items}}
                    Cards
                </a>
            </ul>
        </div>
        <div class="navbar-nav ml-auto ">
            <ul class="list-group list-group-horizontal">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">
                <p>Pizza time</p>
            </span>
        </div>
    </footer>

</body>

</html>